.align-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  margin: 0.3rem;
  background-color: rgb(244, 255, 244, 0.4);
  border-radius: 0.2rem;
  width: 30%;
  min-width: 160px;
  text-align: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
}

h2 {
  margin-top: 5%;
  text-transform: capitalize;
  font-weight: bold;
}
.list-container .activite {
  border-radius: 1rem;
  margin-bottom: 5px;
  padding: 0.3rem 0.8rem;
  background-color: rgba(255, 255, 255, 0.3);
  background-color: #ff8c00;
  color: white;
}
.list-container img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.input-field-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-field-search {
  margin: 10px;
  padding: 5px 20px;
}

span {
  font-weight: bolder;
  text-decoration: underline;
}

.info {
  text-align: center;
}

select {
  margin: 2px;
  padding: 5px 20px;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .list-container {
    min-width: 300px;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .list-container {
    min-width: 300px;
  }
  .input-field-container {
    flex-direction: column;
  }

  .input-field-search {
    margin: 10px;
    padding: 5px 20px;
  }

  select {
    margin: 2px;
    padding: 5px 20px;
  }

  .select2 {
    margin-bottom: 5%;
  }
}
